@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-weight: 400;
  font-size: 18px;

  --main: #044f0f;
  --sec: #01a521;
}

* {
  position: relative;
  box-sizing: border-box;
}

.card {
    background-color: #A9DFBF;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
